.text-input {
    border: 2px solid #7A5CFA;
    outline: none;
    border-radius: 6px;
    font-size: 1rem;
    text-align: center;
    font-family: sans-serif;
    padding-top: 0.8rem;
    box-sizing: border-box;
    &.small {
        height: 3rem;
    }
    &.large {
        height: 7rem;
        white-space: normal;
    }
}
