.app-container {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D9D9D9;
    height: 70vh;
    border-radius: 0.6rem;
    max-width: 500px;
}
